{% extends "pina/layout.html" %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{%block body%}

<section class="banner-portfolio">
    <div class="div-banner-portfolio">
      <h1><span>portfólio</span></h1>
    </div>

    <div class="div-portfolio-servicos">
      <ul class="ul-portfolio-servicos">
        <li><a href="#section-branding-portfolio">BRANDING</a></li>
        <li>
          <a href="#section-posicionamento-portfolio">POSICIONAMENTO</a>
        </li>
        <li><a href="#section-audiovisual-portfolio">PRODUÇÃO</a></li>
        <li><a href="#section-ideacao-portfolio">IDEAÇÃO</a></li>
      </ul>
    </div>
  </section>
  <section
    id="section-branding-portfolio"
    class="sessao-portfolio-branding"
  >
    <h2>Branding</h2>
    <p>Construção de marcas completas e cheias de história.</p>
    <section class="mosaico-portfolio-branding">
      <img
        src="./../static/img/mosaico-portfolio-branding-barlo.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-antonieta.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-dasos.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-eloah.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-glowz.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-kaneta.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-reali.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-renato.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-statter.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-branding-zanini.png"
        alt="Mosaico de portfólio Piná"
      />
    </section>
    <div class="carousel-indicators-branding"></div>
    <a
      href="https://wa.me/5543988567343/?text=Olá!%20Quero%20fazer%20minha%20marca"
      class="botao"
      >QUERO FAZER MINHA MARCA</a
    >
  </section>

  <section
    id="section-posicionamento-portfolio"
    class="sessao-portfolio-posicionamento"
  >
    <h2>Posicionamento criativo</h2>
    <p>
      Desenvolvimento de estratégias visuais para posicionamento nas redes
      sociais.
    </p>
    <section class="mosaico-portfolio-posicionamento">
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-anamaria.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-lagondola.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-anil.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-disalerno.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-forever.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-kamai.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-lourenco.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-luski.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-ogge.png"
        alt="Mosaico de portfólio Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-posicionamento-setima.png"
        alt="Mosaico de portfólio Piná"
      />
    </section>
    <div class="carousel-indicators-posicionamento"></div>
    <a
      href="https://wa.me/5543988567343/?text=Olá!%20Quero%20trabalhar%20meu%20posicionamento"
      class="botao"
      >QUERO TRABALHAR MEU POSICIONAMENTO</a
    >
  </section>

  <section
    id="section-audiovisual-portfolio"
    class="sessao-portfolio-audiovisual"
  >
    <h2>Produção audiovisual</h2>
    <p>Produção fotográfica, captação e edição de imagem e vídeo.</p>
    <section class="mosaico-portfolio-audiovisual">
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-arqorganizer.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-bel.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-borsita.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-dudi.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-gabpod.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-haga.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-newwine.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-paula.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-plugue.png"
        alt="Conheça a Piná"
      />
      <img
        src="./../static/img/mosaico-portfolio-audiovisual-tayse.png"
        alt="Conheça a Piná"
      />
    </section>
    <div class="carousel-indicators-audiovisual"></div>
    <a
      href="https://wa.me/5543988567343/?text=Olá!%20Quero%20fazer%20uma%20produção"
      class="botao"
      >QUERO FAZER UMA PRODUÇÃO</a
    >
  </section>

  <section id="section-ideacao-portfolio" class="sessao-portfolio-ideacao">
    <h2>Ideação</h2>
    <p>Usando o design para solucionar desafios.</p>
    <section class="mosaico-portfolio-ideacao">
      <img
        src="./../static/img/mosaico-portfolio-ideacao.png"
        alt="Conheça a Piná"
      />
      <p>
        <br />
        A ideação é um processo organizado de geração de ideias que se
        baseia na filosofia do Design Thinking e se vale de ferramentas e
        metodologias reconhecidas no mercado para endereçar soluções
        adequadas para os desafios propostos. Ao final do processo é gerado
        um documento com todos os pontos debatidos, diagnóstico levantado e
        sugestões de solução e continuação. As informações trabalhadas no
        processo de ideação são confidenciais, uma vez que trazem
        estratégias de negócio aprofundadas!
      </p>
    </section>
    <div class="carousel-indicators"></div>
    <a
      href="https://wa.me/5543988567343/?text=Olá!%20Quero%20fazer%20uma%20ideação"
      class="botao"
      >QUERO FAZER UMA IDEAÇÃO</a
    >
  </section>
  </main>
  <script src="{% static 'js/portfolio.js' %}" type="text/javascript"></script>
{% endblock %}

</html>
